<div>
    <mat-card>
        <mat-card-title>{{todo.title}} - {{completedMap.get(todo.completed)}}</mat-card-title>
        <mat-card-content>
            {{todo.description}}
        </mat-card-content>
        <mat-card-actions>
            <td-update-todo [todo]="todo"></td-update-todo>
            <button color="primary" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <td-delete-todo [todo]="todo"></td-delete-todo>
                <td-mark-todo *ngIf="!todo.completed" [todo]="todo"></td-mark-todo>
            </mat-menu>
        </mat-card-actions>
    </mat-card>
</div>